In [1]:
import pylab as pl
import pandas as pd
import numpy as np
#imports downloader
from getCitiBikeCSV import getCitiBikeCSV

%pylab inline

import os
#this makes my plots pretty! but it is totally not mandatory to do it
import json
#s = json.load( open(os.getenv ('PUI2016')+"/fbb_matplotlibrc.json") )
#pl.rcParams.update(s)

import scipy as sp

Populating the interactive namespace from numpy and matplotlib

In [2]:
datestring = '201501'
getCitiBikeCSV(datestring)

Downloading 201501
file in place, you can continue

In [3]:
df = pd.read_csv(os.getenv("PUIDATA") + "/" + datestring + '-citibike-tripdata.csv')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [4]:
# df is the dataframe where the content of the csv file is stored
df['date'] = pd.to_datetime(df['starttime'])
# note that with dataframes I can refer to variables as dictionary keys, 
# i.e. df['starttime'] or as attributes: df.starttime. 
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2,2015-01-01 00:01:00
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1,2015-01-01 00:02:00
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1,2015-01-01 00:04:00
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1,2015-01-01 00:04:00
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1,2015-01-01 00:05:00

In [5]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'date'],
      dtype='object')

In [6]:
df['hour'] = df['date'].dt.hour
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,hour
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2,2015-01-01 00:01:00,0
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1,2015-01-01 00:02:00,0
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1,2015-01-01 00:04:00,0
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1,2015-01-01 00:04:00,0
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1,2015-01-01 00:05:00,0
5,496,1/1/2015 0:07,1/1/2015 0:15,512,W 29 St & 9 Ave,40.750073,-73.998393,383,Greenwich Ave & Charles St,40.735238,-74.000271,20788,Subscriber,1969.0,2,2015-01-01 00:07:00,0
6,152,1/1/2015 0:07,1/1/2015 0:09,498,Broadway & W 32 St,40.748549,-73.988084,474,5 Ave & E 29 St,40.745168,-73.986831,19006,Subscriber,1972.0,1,2015-01-01 00:07:00,0
7,1183,1/1/2015 0:08,1/1/2015 0:28,405,Washington St & Gansevoort St,40.739323,-74.008119,174,E 25 St & 1 Ave,40.738177,-73.977387,17640,Subscriber,1985.0,2,2015-01-01 00:08:00,0
8,846,1/1/2015 0:09,1/1/2015 0:23,450,W 49 St & 8 Ave,40.762272,-73.987882,488,W 39 St & 9 Ave,40.756458,-73.993722,15691,Subscriber,1991.0,1,2015-01-01 00:09:00,0
9,576,1/1/2015 0:10,1/1/2015 0:20,160,E 37 St & Lexington Ave,40.748238,-73.978311,174,E 25 St & 1 Ave,40.738177,-73.977387,17837,Subscriber,1991.0,1,2015-01-01 00:10:00,0
10,540,1/1/2015 0:10,1/1/2015 0:19,291,Madison St & Montgomery St,40.713126,-73.984844,151,Cleveland Pl & Spring St,40.721816,-73.997203,16947,Subscriber,1979.0,1,2015-01-01 00:10:00,0
11,419,1/1/2015 0:11,1/1/2015 0:18,517,Pershing Square South,40.751581,-73.977910,540,Lexington Ave & E 26 St,40.741473,-73.983209,14807,Subscriber,1980.0,1,2015-01-01 00:11:00,0
12,751,1/1/2015 0:13,1/1/2015 0:25,290,2 Ave & E 58 St,40.760203,-73.964785,507,E 25 St & 2 Ave,40.739126,-73.979738,16702,Subscriber,1987.0,1,2015-01-01 00:13:00,0
13,332,1/1/2015 0:13,1/1/2015 0:18,361,Allen St & Hester St,40.716059,-73.991908,438,St Marks Pl & 1 Ave,40.727791,-73.985649,17342,Subscriber,1988.0,1,2015-01-01 00:13:00,0
14,1099,1/1/2015 0:14,1/1/2015 0:32,317,E 6 St & Avenue B,40.724537,-73.981854,2012,E 27 St & 1 Ave,40.739445,-73.976806,19909,Subscriber,1983.0,1,2015-01-01 00:14:00,0
15,649,1/1/2015 0:14,1/1/2015 0:25,488,W 39 St & 9 Ave,40.756458,-73.993722,434,9 Ave & W 18 St,40.743174,-74.003664,19584,Subscriber,1979.0,1,2015-01-01 00:14:00,0
16,614,1/1/2015 0:14,1/1/2015 0:24,285,Broadway & E 14 St,40.734546,-73.990741,312,Allen St & E Houston St,40.722055,-73.989111,19202,Subscriber,1959.0,1,2015-01-01 00:14:00,0
17,1196,1/1/2015 0:16,1/1/2015 0:36,466,W 25 St & 6 Ave,40.743954,-73.991449,454,E 51 St & 1 Ave,40.754557,-73.965930,20683,Subscriber,1971.0,1,2015-01-01 00:16:00,0
18,1426,1/1/2015 0:17,1/1/2015 0:40,360,William St & Pine St,40.707179,-74.008873,391,Clark St & Henry St,40.697601,-73.993446,21554,Subscriber,1977.0,1,2015-01-01 00:17:00,0
19,1262,1/1/2015 0:18,1/1/2015 0:39,485,W 37 St & 5 Ave,40.750380,-73.983390,251,Mott St & Prince St,40.723180,-73.994800,16894,Subscriber,1980.0,1,2015-01-01 00:18:00,0
20,707,1/1/2015 0:18,1/1/2015 0:30,449,W 52 St & 9 Ave,40.764618,-73.987895,509,9 Ave & W 22 St,40.745497,-74.001971,14598,Subscriber,1972.0,1,2015-01-01 00:18:00,0
21,307,1/1/2015 0:18,1/1/2015 0:23,474,5 Ave & E 29 St,40.745168,-73.986831,476,E 31 St & 3 Ave,40.743943,-73.979661,18834,Subscriber,1962.0,1,2015-01-01 00:18:00,0
22,1053,1/1/2015 0:19,1/1/2015 0:37,164,E 47 St & 2 Ave,40.753231,-73.970325,523,W 38 St & 8 Ave,40.754666,-73.991382,15617,Subscriber,1987.0,1,2015-01-01 00:19:00,0
23,446,1/1/2015 0:20,1/1/2015 0:27,522,E 51 St & Lexington Ave,40.757148,-73.972078,518,E 39 St & 2 Ave,40.747804,-73.973442,15812,Subscriber,1988.0,1,2015-01-01 00:20:00,0
24,1251,1/1/2015 0:21,1/1/2015 0:41,217,Old Fulton St,40.702772,-73.993836,313,Washington Ave & Park Ave,40.696102,-73.967510,19780,Customer,NaN,0,2015-01-01 00:21:00,0
25,797,1/1/2015 0:21,1/1/2015 0:35,513,W 56 St & 10 Ave,40.768254,-73.988639,488,W 39 St & 9 Ave,40.756458,-73.993722,16761,Subscriber,1969.0,1,2015-01-01 00:21:00,0
26,503,1/1/2015 0:21,1/1/2015 0:30,243,Fulton St & Rockwell Pl,40.688226,-73.979382,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,14570,Customer,NaN,0,2015-01-01 00:21:00,0
27,1639,1/1/2015 0:22,1/1/2015 0:49,382,University Pl & E 14 St,40.734927,-73.992005,352,W 56 St & 6 Ave,40.763406,-73.977225,18320,Subscriber,1996.0,2,2015-01-01 00:22:00,0
28,1175,1/1/2015 0:22,1/1/2015 0:42,217,Old Fulton St,40.702772,-73.993836,313,Washington Ave & Park Ave,40.696102,-73.967510,16610,Customer,NaN,0,2015-01-01 00:22:00,0
29,470,1/1/2015 0:22,1/1/2015 0:30,243,Fulton St & Rockwell Pl,40.688226,-73.979382,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,20804,Subscriber,1986.0,1,2015-01-01 00:22:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285522,257,1/31/2015 23:46,1/31/2015 23:50,526,E 33 St & 5 Ave,40.747659,-73.984907,444,Broadway & W 24 St,40.742354,-73.989151,20740,Subscriber,1979.0,1,2015-01-31 23:46:00,23
285523,141,1/31/2015 23:46,1/31/2015 23:49,116,W 17 St & 8 Ave,40.741776,-74.001497,116,W 17 St & 8 Ave,40.741776,-74.001497,21185,Subscriber,1990.0,1,2015-01-31 23:46:00,23
285524,125,1/31/2015 23:46,1/31/2015 23:48,478,11 Ave & W 41 St,40.760301,-73.998842,515,W 43 St & 10 Ave,40.760094,-73.994618,15130,Subscriber,1983.0,1,2015-01-31 23:46:00,23
285525,860,1/31/2015 23:47,2/1/2015 0:01,368,Carmine St & 6 Ave,40.730386,-74.002150,531,Forsyth St & Broome St,40.718939,-73.992663,16262,Subscriber,1982.0,1,2015-01-31 23:47:00,23
285526,471,1/31/2015 23:47,1/31/2015 23:55,325,E 19 St & 3 Ave,40.736245,-73.984738,527,E 33 St & 2 Ave,40.744023,-73.976056,17920,Subscriber,1988.0,2,2015-01-31 23:47:00,23
285527,587,1/31/2015 23:48,1/31/2015 23:58,312,Allen St & E Houston St,40.722055,-73.989111,2009,Catherine St & Monroe St,40.711174,-73.996826,18818,Subscriber,1973.0,1,2015-01-31 23:48:00,23
285528,399,1/31/2015 23:49,1/31/2015 23:56,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16477,Subscriber,1979.0,1,2015-01-31 23:49:00,23
285529,1544,1/31/2015 23:51,2/1/2015 0:17,521,8 Ave & W 31 St,40.750450,-73.994811,128,MacDougal St & Prince St,40.727103,-74.002971,19506,Subscriber,1966.0,1,2015-01-31 23:51:00,23
285530,579,1/31/2015 23:51,2/1/2015 0:01,483,E 12 St & 3 Ave,40.732233,-73.988900,411,E 6 St & Avenue D,40.722281,-73.976687,16202,Subscriber,1961.0,1,2015-01-31 23:51:00,23
285531,284,1/31/2015 23:51,1/31/2015 23:56,493,W 45 St & 6 Ave,40.756800,-73.982912,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,16887,Subscriber,1968.0,1,2015-01-31 23:51:00,23
285532,1527,1/31/2015 23:52,2/1/2015 0:17,491,E 24 St & Park Ave S,40.740964,-73.986022,341,Stanton St & Mangin St,40.717821,-73.976289,21518,Subscriber,1986.0,2,2015-01-31 23:52:00,23
285533,1509,1/31/2015 23:52,2/1/2015 0:17,382,University Pl & E 14 St,40.734927,-73.992005,448,W 37 St & 10 Ave,40.756604,-73.997901,18797,Subscriber,1991.0,2,2015-01-31 23:52:00,23
285534,954,1/31/2015 23:52,2/1/2015 0:08,383,Greenwich Ave & Charles St,40.735238,-74.000271,383,Greenwich Ave & Charles St,40.735238,-74.000271,19756,Subscriber,1969.0,1,2015-01-31 23:52:00,23
285535,447,1/31/2015 23:52,2/1/2015 0:00,528,2 Ave & E 31 St,40.742909,-73.977061,504,1 Ave & E 15 St,40.732219,-73.981656,20565,Subscriber,1987.0,1,2015-01-31 23:52:00,23
285536,433,1/31/2015 23:52,2/1/2015 0:00,345,W 13 St & 6 Ave,40.736494,-73.997044,368,Carmine St & 6 Ave,40.730386,-74.002150,16285,Subscriber,1986.0,1,2015-01-31 23:52:00,23
285537,319,1/31/2015 23:52,1/31/2015 23:57,453,W 22 St & 8 Ave,40.744751,-73.999154,346,Bank St & Hudson St,40.736529,-74.006180,15926,Subscriber,1972.0,1,2015-01-31 23:52:00,23
285538,216,1/31/2015 23:52,1/31/2015 23:55,250,Lafayette St & Jersey St,40.724561,-73.995653,265,Stanton St & Chrystie St,40.722293,-73.991475,19919,Subscriber,1986.0,1,2015-01-31 23:52:00,23
285539,1004,1/31/2015 23:53,2/1/2015 0:09,403,E 2 St & 2 Ave,40.725029,-73.990697,358,Christopher St & Greenwich St,40.732916,-74.007114,21204,Subscriber,1990.0,1,2015-01-31 23:53:00,23
285540,926,1/31/2015 23:54,2/1/2015 0:09,168,W 18 St & 6 Ave,40.739713,-73.994564,488,W 39 St & 9 Ave,40.756458,-73.993722,19110,Subscriber,1964.0,1,2015-01-31 23:54:00,23
285541,546,1/31/2015 23:54,2/1/2015 0:04,528,2 Ave & E 31 St,40.742909,-73.977061,498,Broadway & W 32 St,40.748549,-73.988084,20769,Subscriber,1989.0,1,2015-01-31 23:54:00,23
285542,429,1/31/2015 23:54,2/1/2015 0:01,491,E 24 St & Park Ave S,40.740964,-73.986022,2012,E 27 St & 1 Ave,40.739445,-73.976806,20621,Subscriber,1991.0,1,2015-01-31 23:54:00,23
285543,229,1/31/2015 23:55,1/31/2015 23:59,489,10 Ave & W 28 St,40.750664,-74.001768,494,W 26 St & 8 Ave,40.747348,-73.997236,15969,Subscriber,1985.0,2,2015-01-31 23:55:00,23
285544,401,1/31/2015 23:56,2/1/2015 0:03,483,E 12 St & 3 Ave,40.732233,-73.988900,174,E 25 St & 1 Ave,40.738177,-73.977387,14760,Subscriber,1971.0,1,2015-01-31 23:56:00,23
285545,296,1/31/2015 23:56,2/1/2015 0:01,518,E 39 St & 2 Ave,40.747804,-73.973442,454,E 51 St & 1 Ave,40.754557,-73.965930,20327,Subscriber,1983.0,1,2015-01-31 23:56:00,23
285546,993,1/31/2015 23:57,2/1/2015 0:13,254,W 11 St & 6 Ave,40.735324,-73.998004,473,Rivington St & Chrystie St,40.721101,-73.991925,19424,Subscriber,1970.0,1,2015-01-31 23:57:00,23
285547,169,1/31/2015 23:57,2/1/2015 0:00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,368,Carmine St & 6 Ave,40.730386,-74.002150,17456,Subscriber,1956.0,1,2015-01-31 23:57:00,23
285548,827,1/31/2015 23:58,2/1/2015 0:12,252,MacDougal St & Washington Sq,40.732264,-73.998522,440,E 45 St & 3 Ave,40.752554,-73.972826,17669,Subscriber,1976.0,1,2015-01-31 23:58:00,23
285549,798,1/31/2015 23:58,2/1/2015 0:11,127,Barrow St & Hudson St,40.731724,-74.006744,433,E 13 St & Avenue A,40.729554,-73.980572,20237,Subscriber,1994.0,1,2015-01-31 23:58:00,23
285550,725,1/31/2015 23:58,2/1/2015 0:10,435,W 21 St & 6 Ave,40.741740,-73.994156,368,Carmine St & 6 Ave,40.730386,-74.002150,21029,Subscriber,1957.0,1,2015-01-31 23:58:00,23
285551,892,1/31/2015 23:59,2/1/2015 0:14,504,1 Ave & E 15 St,40.732219,-73.981656,295,Pike St & E Broadway,40.714067,-73.992939,18342,Subscriber,1974.0,1,2015-01-31 23:59:00,23

In [7]:
df.hour.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [8]:

day = df.drop(['starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'date'], axis=1)

day['day'] = df['tripduration'][(df['hour'] > 5) & (df['hour'] <= 18)]
day

        tripduration  hour  day
0               1346     0  NaN
1                363     0  NaN
2                346     0  NaN
3                182     0  NaN
4                969     0  NaN
5                496     0  NaN
6                152     0  NaN
7               1183     0  NaN
8                846     0  NaN
9                576     0  NaN
10               540     0  NaN
11               419     0  NaN
12               751     0  NaN
13               332     0  NaN
14              1099     0  NaN
15               649     0  NaN
16               614     0  NaN
17              1196     0  NaN
18              1426     0  NaN
19              1262     0  NaN
20               707     0  NaN
21               307     0  NaN
22              1053     0  NaN
23               446     0  NaN
24              1251     0  NaN
25               797     0  NaN
26               503     0  NaN
27              1639     0  NaN
28              1175     0  NaN
29               470     0  NaN
...              ...   ...  ...
285522           257    23  NaN
285523           141    23  NaN
285524           125    23  NaN
285525           860    23  NaN
285526           471    23  NaN
285527           587    23  NaN
285528           399    23  NaN
285529          1544    23  NaN
285530           579    23  NaN
285531           284    23  NaN
285532          1527    23  NaN
285533          1509    23  NaN
285534           954    23  NaN
285535           447    23  NaN
285536           433    23  NaN
285537           319    23  NaN
285538           216    23  NaN
285539          1004    23  NaN
285540           926    23  NaN
285541           546    23  NaN
285542           429    23  NaN
285543           229    23  NaN
285544           401    23  NaN
285545           296    23  NaN
285546           993    23  NaN
285547           169    23  NaN
285548           827    23  NaN
285549           798    23  NaN
285550           725    23  NaN
285551           892    23  NaN

[285552 rows x 3 columns]

In [9]:
day = day.dropna()
day

        tripduration  hour     day
563             1542     6  1542.0
564              166     6   166.0
565              972     6   972.0
566              238     6   238.0
567             1214     6  1214.0
568              442     6   442.0
569              220     6   220.0
570              201     6   201.0
571              422     6   422.0
572              370     6   370.0
573              181     6   181.0
574              306     6   306.0
575              293     6   293.0
576              754     6   754.0
577              264     6   264.0
578              471     6   471.0
579              272     6   272.0
580              314     6   314.0
581              149     6   149.0
582              343     6   343.0
583              504     6   504.0
584              501     6   501.0
585             1328     6  1328.0
586              422     6   422.0
587              305     6   305.0
588             2033     6  2033.0
589             1346     6  1346.0
590              835     6   835.0
591              474     6   474.0
592              479     6   479.0
...              ...   ...     ...
284659           487    18   487.0
284660           464    18   464.0
284661           428    18   428.0
284662           400    18   400.0
284663           338    18   338.0
284664           168    18   168.0
284665          1396    18  1396.0
284666           604    18   604.0
284667           366    18   366.0
284668           222    18   222.0
284669           109    18   109.0
284670          1826    18  1826.0
284671          1062    18  1062.0
284672           603    18   603.0
284673           447    18   447.0
284674           350    18   350.0
284675           322    18   322.0
284676           192    18   192.0
284677           590    18   590.0
284678           466    18   466.0
284679           909    18   909.0
284680           877    18   877.0
284681           221    18   221.0
284682           847    18   847.0
284683           661    18   661.0
284684           340    18   340.0
284685           280    18   280.0
284686           274    18   274.0
284687           262    18   262.0
284688           258    18   258.0

[230674 rows x 3 columns]

In [15]:

night = df.drop(['starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'date'], axis=1)

night['night'] = night['tripduration'][((night['hour'] >= 0) & (night['hour'] <= 6)) | ((night['hour'] > 18) & (night['hour'] <= 24))]
night

        tripduration  hour   night
0               1346     0  1346.0
1                363     0   363.0
2                346     0   346.0
3                182     0   182.0
4                969     0   969.0
5                496     0   496.0
6                152     0   152.0
7               1183     0  1183.0
8                846     0   846.0
9                576     0   576.0
10               540     0   540.0
11               419     0   419.0
12               751     0   751.0
13               332     0   332.0
14              1099     0  1099.0
15               649     0   649.0
16               614     0   614.0
17              1196     0  1196.0
18              1426     0  1426.0
19              1262     0  1262.0
20               707     0   707.0
21               307     0   307.0
22              1053     0  1053.0
23               446     0   446.0
24              1251     0  1251.0
25               797     0   797.0
26               503     0   503.0
27              1639     0  1639.0
28              1175     0  1175.0
29               470     0   470.0
...              ...   ...     ...
285522           257    23   257.0
285523           141    23   141.0
285524           125    23   125.0
285525           860    23   860.0
285526           471    23   471.0
285527           587    23   587.0
285528           399    23   399.0
285529          1544    23  1544.0
285530           579    23   579.0
285531           284    23   284.0
285532          1527    23  1527.0
285533          1509    23  1509.0
285534           954    23   954.0
285535           447    23   447.0
285536           433    23   433.0
285537           319    23   319.0
285538           216    23   216.0
285539          1004    23  1004.0
285540           926    23   926.0
285541           546    23   546.0
285542           429    23   429.0
285543           229    23   229.0
285544           401    23   401.0
285545           296    23   296.0
285546           993    23   993.0
285547           169    23   169.0
285548           827    23   827.0
285549           798    23   798.0
285550           725    23   725.0
285551           892    23   892.0

[285552 rows x 3 columns]

In [16]:
night = night.dropna()
night

        tripduration  hour   night
0               1346     0  1346.0
1                363     0   363.0
2                346     0   346.0
3                182     0   182.0
4                969     0   969.0
5                496     0   496.0
6                152     0   152.0
7               1183     0  1183.0
8                846     0   846.0
9                576     0   576.0
10               540     0   540.0
11               419     0   419.0
12               751     0   751.0
13               332     0   332.0
14              1099     0  1099.0
15               649     0   649.0
16               614     0   614.0
17              1196     0  1196.0
18              1426     0  1426.0
19              1262     0  1262.0
20               707     0   707.0
21               307     0   307.0
22              1053     0  1053.0
23               446     0   446.0
24              1251     0  1251.0
25               797     0   797.0
26               503     0   503.0
27              1639     0  1639.0
28              1175     0  1175.0
29               470     0   470.0
...              ...   ...     ...
285522           257    23   257.0
285523           141    23   141.0
285524           125    23   125.0
285525           860    23   860.0
285526           471    23   471.0
285527           587    23   587.0
285528           399    23   399.0
285529          1544    23  1544.0
285530           579    23   579.0
285531           284    23   284.0
285532          1527    23  1527.0
285533          1509    23  1509.0
285534           954    23   954.0
285535           447    23   447.0
285536           433    23   433.0
285537           319    23   319.0
285538           216    23   216.0
285539          1004    23  1004.0
285540           926    23   926.0
285541           546    23   546.0
285542           429    23   429.0
285543           229    23   229.0
285544           401    23   401.0
285545           296    23   296.0
285546           993    23   993.0
285547           169    23   169.0
285548           827    23   827.0
285549           798    23   798.0
285550           725    23   725.0
285551           892    23   892.0

[63004 rows x 3 columns]

In [18]:
## KS test

In [20]:
ks = sp.stats.ks_2samp(day.day, night.night)
print (ks)

Ks_2sampResult(statistic=0.051417426128248678, pvalue=3.4524326145646236e-114)

In [ ]:
# The p-value is too large. Which means that there is no correlation between the two groups

In [27]:
## Pearson R

In [34]:
# taking a sample from our data frame with the same size in order to be able to run the other two tests

day_sample = day.sample(n=1000, frac=None, replace=False, weights=None, random_state=None, axis=None)
night_sample = night.sample(n=1000, frac=None, replace=False, weights=None, random_state=None, axis=None)

In [35]:
from scipy.stats import pearsonr

sp.stats.pearsonr(day_sample.day, night_sample.night)

(0.031803914152313532, 0.31502959889374066)

In [36]:
## Spearman's test for correlation

In [37]:
from scipy.stats import spearmanr

sp.stats.spearmanr(day_sample.day, night_sample.night)

SpearmanrResult(correlation=0.037606689575322622, pvalue=0.23477004295965259)